<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new artist</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<h1>Create a new artist</h1>


<div class="artistForm">
    <form action="/create" method="post">


        <div class="artistField">
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist">
        </div>

        <div class="originField">
            <label for="artist origin">Origin</label>
            <input type="text" id="artist origin" name="origin">
        </div>

        <div class="genderField">
            <label for="artist gender">Gender</label>
            <input type="text" id="artist gender" name="gender">
        </div>

        <div class="ageField">
            <label for="artist age"> Artist age</label>
            <input type="number" id="artist age" name="age">
        </div>

        <div class="addressField">
            <label for="company address"> Company address</label>
            <input type="text" id="company address" name="address">
        </div>

        <div class="phoneField">
            <label for="company phone"> Company phone number</label>
            <input type="tel" id="company phone" name="phone">
        </div>

        <div class="genreField">
            <label for="artist genre">Genre</label>
            <input type="text" id="artist genre" name="genre">
        </div>

        <div class="saveArtist">
            <input type="submit" value="Save artist">
        </div>

    </form>
</div>


</body>
</html>